menu "Fingerprint Drivers"

config FINGERPRINT_FPC1020
	tristate "FPC fpc1020 fingerprint driver support"
	help
	  say y here to enable fpc fingerprint driver support!  

config FINGERPRINT_GF3208
	tristate "Goodix gf3208 fingerprint driver support"
	help
	  say y here to enable gf3208 fingerprint driver support!

endmenu

